.app {
    background-image: linear-gradient(lightgray, rgb(145, 179, 22));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1em;
    border: none;
    border-radius: 30px; 
}
.location {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.location h1 {
    font-size: 3rem;
}
.conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conditions-measurement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}
.conditions-description {
    font-size: 2rem;
}
